<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>fourth lab</display-name>
    <servlet>
        <servlet-name>toDoService</servlet-name>
        <servlet-class>resource.ToDoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>toDoService</servlet-name>
        <url-pattern>/todo/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>todo.html</welcome-file>
    </welcome-file-list>
</web-app>
